# Python artifacts
__pycache__/
*.pyc

# Distribution / packaging
dist/
*.egg-info/

# Virtual environments
venv/

# PyCharm IDE
.idea/

# Eclipse IDE
.project
.pydevproject

# Mac directory info
.DS_Store

# Disco
attachments/
config.yaml
