{
    "log-level": "info",
    "token": "*** REPLACE ***",
    "opus-library-path": "*** REPLACE ***",

    "spotify-username": "*** REPLACE ***",
    "spotify-password": "*** REPLACE ***"

    "playing-status": "Music"
}
